extends layout


block content

    -data = data || {}

    if errors
        ul.my-errors
            for error in errors
                li= error.msg

    div(id="particles-js" class="particles-js")
            canvas(
            class="particles-js-canvas-el"
            width="1615"
            height="881"
            style="width: 100%; height: 100%"
            )


    form(action="." method="POST" class="form-updates")
        label(for="device") Device codename:
        input(
            type="text"
            id="device"
            name="device"
            class="form-control"
            value=data.device
        )

        label(for="maintainer") Maintainer:
        input(
            type="text"
            id="maintainer"
            name="maintainer"
            class="form-control"
            value=data.maintainer
        )

        label(for="buildDate") Build date:
        input(
            type="text"
            id="buildDate"
            name="buildDate"
            class="form-control"
            value=data.buildDate
        )

        label(for="changeLog") Changelog:
            textarea(
            id="changeLog"
            name="changeLog"
            class="form-control"
            )
        label(for="download") Download link:
            input(
            type="text"
            id="download"
            name="download"
            class="form-control"
            value=data.download
            )


        input(
            type="submit"
            value="Submit"
            class="btn btn-lg btn-primary btn-block"
        )